<!doctype html>
<html lang="es" data-bs-theme="light">
    <head>
        <title>Control-medicamentos</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS v5.3.8 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />

        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <header>
            <!-- place navbar here -->
        </header>
        <main>
            <div class=" row justify-content-center">
                <div class="col-md-3">
                    <div class=" h-100 p-5  text-black bg-light border rounded-3" align="center">
                        <h2 style="color: rgb(204, 212, 236);" font-style:italic;> Inicio de sesion </h2>

                        <div class="container" align="center">
                            <form action="" method="post">
                                <div class="mb-3">
                                    <label for="" class="form-label" style="color: rgb(149, 166, 216);" align="Center"> Usuario</label>
                                    <input 
                                    type="email"
                                    class="form-control"
                                    name=""
                                    id="correo-inicio"
                                    placeholder="9530510258">

                                </div>

                                <div class="mb-3">
                                    <label for="" class="form-label" style="color: rgb(149, 166, 216);" align="Center">Contraseña</label>
                                    <input 
                                     type="password"
                                     class="form-control"
                                     name=""
                                     id="clave-inicio"
                                     placeholder="1234"
                                     >
                                </div>

                                <button class="btn " style="background-color: rgb(134, 173, 207); color: aliceblue;" type="submit" >
                                    Ingresar 
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Bundle (includes Popper) -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
