<!doctype html>
<html lang="es" data-bs-theme="light">
    <head>
        <title>Menu</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS v5.3.8 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <header>
            <!-- place navbar here -->
        </header>
        <main>
            <h1 style="font-style: italic;" align = "center">Menu</h1>
            <div class="row align-items">
                <div class="col-md-4"  style="display: none;"
                    <div>
                        <div
                            class="h-100 p-5 text-dark bg-light border rounded-3"
                        >
                            <h2 style="color: rgb(0, 0, 0); font-style:italic ">Tabla Usuarios </h2>
                            <img src="" alt="" width="200">
                            <p>
                                Gestión centralizada de credenciales, roles y permisos de acceso al sistema
                            </p>
                            <div class="d-flex align-items-center gap-3">
                                <h4  style="color: rgb(224, 140, 140)">
                                    10 REGISTROS 
                                </h4>
                                <button
                                    class="btn btn-outline-primary  " style="background-color: rgb(255, 255, 255); color: rgb(4, 0, 255);"
                                    type="button"   
                            >
                                ->
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <div
                            class="h-100 p-5 text-dark bg-light border rounded-3"
                        >
                            <h2 style="color: rgb(0, 0, 0); font-style:italic ">Tabla Medicamentos </h2>
                            <img src="" alt="" width="200">
                            <p>
                                Control de inventarios, stock crítico y catálogos farmaceúticos activos.
                            </p>
                            <div class="d-flex align-items-center gap-3">
                                <h4  style="color: rgb(224, 140, 140)">
                                    15 REGISTROS 
                                </h4>
                                <button
                                    class="btn btn-outline-primary  " style="background-color: rgb(255, 255, 255); color: rgb(4, 0, 255);"
                                    type="button"   
                            >
                                ->
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <div
                            class="h-100 p-5 text-dark bg-light border rounded-3"
                        >
                            <h2 style="color: rgb(0, 0, 0); font-style:italic ">Tabla Registros </h2>
                            <img src="" alt="" width="200">
                            <p>
                                Bitácora histórica de transacciones, logs de auditoria y repositos apoerativos
                            </p>
                            <div class="d-flex align-items-center gap-3">
                                <h4  style="color: rgb(224, 140, 140)">
                                    10 REGISTROS 
                                </h4>
                                <button
                                    class="btn btn-outline-primary  " style="background-color: rgb(255, 255, 255); color: rgb(4, 0, 255);"
                                    type="button"   
                            >
                                ->
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Bundle (includes Popper) -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
